p Hi

p 
  | You've been invited to 
  strong #{@guest_invite.event.try(:name).try(:titleize)}.

p <i>#{@guest_invite.event.description}</i>

p Click #{link_to("here", register_rsvp_url(@guest_invite.invite_key))} to RSVP.

p Please use your email ID and event key #{@guest_invite.event.try(:event_key)} to log in for the event.

p Thanks,

p Flow Tasting team