/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 += require bootstrap-tokenfield 
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "bootstrap-timepicker";
@import "font-awesome";
@import "bootstrap-slider";

body {
  padding-top: 70px;
}

.top-10 {
  margin-top: 10px;
}

.top-5 {
  margin-top: 5px;
}

.top-15 {
  margin-top: 15px;
}

.top-20 {
  margin-top: 20px;
}

.top-25 {
  margin-top: 25px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-15 {
  margin-bottom: 15px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-25 {
  margin-bottom: 25px;
}

.left-15 {
  margin-left: 15px;
}

.padding-left-15 {
  padding-left: 15px;
}

table.sortable {
  th {
    cursor: pointer;
  }
}

    

@media only screen and (min-width : 320px) and (max-width: 768px) {
  .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
}

a {
  i.fa {
    margin-right: 5px;
  }
}

.custom-page-header {
  margin-bottom: 25px;
}

.table-container {
  table.table {
    td { vertical-align: middle }
  }
}

@media (min-width: 320px) and (max-width: 992px) {

  [class*="col-"]{
      margin-bottom: 15px;
  }

}